html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.rowheader {
  flex: 0 1 auto;
  border: 1px dotted grey;
}

.rowcontent {
  flex: 1 1 auto;
  overflow-y: scroll;
  border: 1px dotted grey;
}

.rowfooter {
  flex: 0 1 40px;
  border: 1px dotted grey;
}
