.RatePanel {
    background-color: rgb(218, 218, 218);
    border:solid;
    border-width: 2;
    border-color: white;
    margin: 10px;
    min-width: 20vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
}

.RateSpan {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}