.RateGrid {
    background-color: grey;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-y: scroll;
    width: calc(100vw - 300px);
    width: 100%;
}
