.TradingAreaTabs {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    max-height: max-content;
    overflow: hidden;
}

.ScrollY {
    overflow-y: scroll;
}

.Fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0;
    width: 100%;
    background: white;
}

.TabPanels{
        max-height: max-content;
}